project:
  type: website

website:
  title: "tial"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - Metamorphosis.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true


